  <% remote_sheet_form_for :hook, hook.properties, :url => hosted_url(:hooks, :name => hook.plugin_name), 
         :trigger => "hooknew-#{hook.plugin_name}", :html => {:id => "hooksheet-#{hook.plugin_name}", :style => 'display:none'} do |s| %>
    <h2>Add <%= hook.title %> Instance</h2>
    <%= s.text_field "Label:", :label %>
    <% hook.properties.class.option_order.each do |option| -%>
      <% name, *desc = option.split -%>
      <%= s.text_field %(#{h name.titleize}:), name %>
    <% end -%>
  <% end -%>
